<!DOCTYPE html>
<html>
    <head>
        <title>
            CONNECTING PAGES
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'places/goa_style1.css' %}">
        </head>
        <body>
            <div class="container">
                <div class="circle"></div>
                <h1>
                    GOA
                </h1>
                <p>
                    Goa(About this soundlisten)) is a state on the southwestern coast of India within the region known as the Konkan, and geographically separated from the Deccan highlands by the Western Ghats.It is surrounded by the Indian states of Maharashtra to the north and Karnataka to the east and south, with the Arabian Sea forming its western coast. It is India's smallest state by area and the fourth-smallest by population. Goa has the highest GDP pe capita among all Indian states,two and a half times that of the country.It was ranked the best-placed state by the Eleventh Finance Commission for its infrastructure and ranked on top for the best quality of life in India by the National Commission on Population based on the 12 Indicators.                </p></div>
            <div class="container1">
            <a class="button" href="{% url 'hotels_goa' %}" >HOTELS</a>
            </div>
        </body> 