<!DOCTYPE html>
<html>
    <head>
        <title>
            CONNECTING PAGES
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'places/kerela_style1.css' %}">
        </head>
        <body>
            <div class="container">
                <div class="circle"></div>
                <h1>
                    KERELA
                </h1>
                <p>
                    Kerala  (About this soundlisten)) is a state on the southwestern Malabar Coast of India. It was formed on 1 November 1956, following the passage of the States Reorganisation Act, by combining Malayalam-speaking regions of the erstwhile states of Travancore-Cochin and Madras. Spread over 38,863 km2 (15,005 sq mi), Kerala is the twenty-first largest Indian state by area. It is bordered by Karnataka to the north and northeast, Tamil Nadu to the east and south, and the Lakshadweep Sea to the west. With 33,387,677 inhabitants as per the 2011 Census, Kerala is the thirteenth-largest Indian state by population. It is divided into 14 districts with the capital being Thiruvananthapuram. Malayalam is the most widely spoken language and is also the official language of the state. Kerala is the second-least impoverished state in Indiaaccording to the Annual Report of Reserve Bank of India published in 2013</p>
                </div>
            <div class="container1">
            <a class="button" href="{% url 'hotels_kerela' %}" >HOTELS</a>
            </div>
        </body> 