<!DOCTYPE html>
<html>
    <head>
        <title>
            CONNECTING PAGES
        </title>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'places/manali_style1.css' %}">
        </head>
        <body>
            <div class="container">
                <div class="circle"></div>
                <h1>
                    MANALI
                </h1>
                <p>
                    Manali is a resort town nestled in the mountains of the Indian state of Himachal Pradesh near the northern end of the Kullu Valley in the Beas River Valley. It is located in the Kullu district, about 270 km (168 mi) north of the state capital, Shimla, 309 km (192 miles) north east of Chandigarh and 544 km (338 miles) northeast of Delhi, the national capital. The small town, with a population of 8,096, is the beginning of an ancient trade route to Ladakh and from there over the Karakoram Pass on to Yarkand and Khotan in the Tarim Basin. It is a popular tourist destination and serves as the gateway to Lahaul and Spiti district as well as Leh.</p></div>
            <div class="container1">
            <a class="button" href="{% url 'hotels_manali' %}" >HOTELS</a>
            </div>
        </body> 