<!DOCTYPE html>
<html>
    <head>
        <title>
            CONNECTING PAGES
        </title>
        <link rel="stylesheet" type="text/css" href="punjab_style1.css">
        </head>
        <body>
            <div class="container">
                <div class="circle"></div>
                <h1>
                    PUNJAB
                </h1>
                <p>Punjab (About this soundlisten), Punjabi:is a state in northern India. Forming part of the larger Punjab region of the Indian subcontinent, the state is bordered by the Indian union territories of Jammu and Kashmir to the north, Chandigarh to the east, the Indian states of Himachal Pradesh to the north and northeast, Haryana to the south and southeast, and Rajasthan to the southwest. It is bordered by Punjab, a province of Pakistan to the west.The state covers an area of 50,362 square kilometres (19,445 square miles), 1.53% of India's total geographical area.
                   </p></div>
            <div class="container1">
            <div class="button" >HOTELS</div>
            </div>
        </body> 