<!DOCTYPE html>
<html>
    <head>
        <title>
            CONNECTING PAGES
        </title>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'places/shimla_style1.css' %}">
        </head>
        <body>
            <div class="container">
                <div class="circle"></div>
                <h1>
                    SHIMLA
                </h1>
                <p>
                    Shimla ((About this soundlisten)), also known as Simla, is the capital and the largest city of the Indian state of Himachal Pradesh. In 1864, Shimla was declared as the summer capital of British India. After independence, the city became the capital of Punjab and was later made the capital of Himachal Pradesh. It is the principal commercial, cultural and educational centre of the state. It was the capital city of British Burma (present-day Myanmar) from 1942 to 1945.
                </p></div>
            <div class="container1">
            <a class="button" href="{% url 'hotels_shimla' %}" >HOTELS</a>
            </div>
        </body> 